* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.content{
    margin: 0 auto;
    position: relative;
    width: 700px;
}

.video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.canvas-container {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 10 !important;
}
.btnarea{
    margin-top: 30px;
}
.btn_01{
    margin: 0 auto;
}
.btn_02{
    margin: 0 auto;
}
button{
    width: 120px;
    height: 30px;
    background-color: black;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.active{
    background: #97b0f8;
}

.disabled{
    background: #f8f8f8;
}
.dr {
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background: rgb(255, 187, 0);
    color: #fff;
    border: none;
    cursor: pointer;
}

.dr.active {
    background: #ff9665;
}

#visualization {
    border: 1px solid #000;
}

.vis-time-axis .vis-text {
    position: absolute;
    color: #fff;
    padding: 8px;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    background: #000;
}

.vis-labelset .vis-label {
    left: 0;
    top: 0;
    width: 60px;
    color: #000;
    text-align: center;
    /*border: none;*/
}
.vis-panel.vis-center{
    border: 1px solid #fff !important;
}

.vis-time-axis .vis-grid {
    border-right: 1px solid #fff !important;
}

.vis-timeline {
    position: relative;
    border: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.vis-foreground .vis-group {
    position: relative;
    box-sizing: border-box;
    /*border-bottom: none;*/
}

.item {
    list-style: none;
    width: 120px;
    color: #fff;
    background-color: #97b0f8;
    border-radius: 20px;
    padding: 5px 12px;
}

.item:before {
    font-family: Arial, sans-serif;
    display: inline-block;
    font-size: inherit;
    cursor: move;
}

.vis-item {
    position: absolute;
    color: #fff;
    font-size: 0.8rem;
    border: none;
    border-radius: 20px !important;
    border-width: 0px;
    background-color: #f8c397;
    display: inline-block;
    z-index: 1;
    text-align: center;
}


.vis-item.vis-selected {
    border: none;
    background-color: rgb(250, 150, 111);
    z-index: 2;
}

.vis-item .vis-delete-rtl:after, .vis-item .vis-delete:after {
    content: "\00D7";
    color: #97b0f8;
    font-family: arial,sans-serif;
    font-size: 22px;
    font-weight: 700;
    border-radius: 20px !important;
}

.vis-item .vis-delete-rtl:hover, .vis-item .vis-delete:hover {
    content: "\00D7";
    background-color: #97b0f8;
    color: #fff;
    font-family: arial,sans-serif;
    font-size: 22px;
    font-weight: 700;
    border-radius: 20px !important;
}
.vis-item .vis-delete {
    right: -30px;
}

.vis-item-content {
    transform:none !important;
}

.vis-label .vis-inner {
    min-height: 150px;
}